body {
  background-color: green;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
}

.resetButton {
  width: 10px;
}

.changeSymbol {
  width: 10px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: grey;
  width: 180px;
  padding: 10px;
}

.result {
  border: 1px solid black;
  width: 150px;
  contain: content;
  background-color: yellow;
  height: 80px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex: 1;
  width: 150px;
}

.row button {
  flex: 1;
  padding: 10px;
}

h1 {
  background-color: white;
}
